/*
 * An increased contrast highlighting scheme loosely based on the
 * "Base16 Atelier Dune Light" theme by Bram de Haan
 * (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/dune)
 * Original Base16 color scheme by Chris Kempson
 * (https://github.com/chriskempson/base16)
 */

/* Comment */
.hljs-comment,
.hljs-quote {
    color: #616e88;
}

/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
    color: #BF616A;
}

/* Orange */
.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
    color: #D08770;
}

/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet {
    color: #A3BE8C;
}

/* Blue */
.hljs-title,
.hljs-section {
    color: #5E81AC;
}

/* Purple */
.hljs-keyword,
.hljs-selector-tag {
    color: #B48EAD;
}

.hljs {
    display: block;
    overflow-x: auto;
    background: #ECEFF4;
    color: #2E3440;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-addition {
    color: #A3BE8C;
    background-color: #D8DEE9;
}

.hljs-deletion {
    color: #BF616A;
    background-color: #D8DEE9;
}
